ul {
   list-style-type: none;
}
ul li {
    display: inline;
    margin:2em;
    text-decoration: none;
}
header a:link{
    color:white;
}
header a:visited {
    color: white;
}
h1{
    color: #ff5354;
}
